{% extends 'base_2.html' %}
{% block content %}
 
    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5 mb-5 mb-lg-0">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Testimonial</h6>
                        <h1 class="display-4">What Say Our Students</h1>
                    </div>
                    {% for test in  testimonial_dic %}
                    <p class="m-0">{{test.description}}</p>
                    {% endfor %}
                </div>
                         {% for sat in st_dic %}
                        <div class="bg-light p-5">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <p>{{sat.description}}</p>
                            <div class="d-flex flex-shrink-0 align-items-center mt-4">
                                <img class="img-fluid mr-4" src="{{sat.image.url}}" alt="">
                                <div>
                                    <h5>{{sat.name}}</h5>
                                    <span>{{sat.course}}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End-->

{% endblock %}